{% extends "base.html" %}
{% from 'macros.html' import form_field %}

{% block content %}
<div class="container">
    <h1 class="mb-4">{% if form.id %}Edit{% else %}Add{% endif %}Record Details</h1>
    <form action="{% if form.id %} {{ url_for('disbursement.edit', record_id=form.id) }} {% else %} {{ url_for('disbursement.add') }} {% endif %}" method="post">
        {{ form.html_tag('id', hidden=True) | safe }}
        
        <div class="row mb-3">
            <div class="col-4">
                <label for="user_id">User</label>
            </div>
            <div class="col-8">
                {{ form.html_tag('user_id', css_class="form-select", autofocus=True, options=user_options, required=True, autocomplete=False) | safe }}
            </div>
        </div>
        
        <div class="row mb-3">
            <input type="Submit" class="btn btn-success form-control" value="Submit">
        </div>

        <datalist id="users">
            <option value="0"></option>
                {% for user in users %}
            <option value="{{ user.id }}">{{ user }}</option>
            {% endfor %}
        </datalist>
    </form>
</div>
{% endblock %}